<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KiT_RSRaffle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KiT_RSRaffle.Properties.Settings>
            <setting name="outputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberClan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClanName" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberFilters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Filters" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberOptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Options" serializeAs="String">
                <value />
            </setting>
            <setting name="ClanSave" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterUser" serializeAs="String">
                <value />
            </setting>
        </KiT_RSRaffle.Properties.Settings>
    </userSettings>
</configuration>